/* Generics */
#snack1 {
    background-color: lightpink;
}

#snack2 {
    background-color: lightblue;
}

#snack3 {
    background-color: lightgreen;
}

#snack4 {
    background-color: lightyellow;
}

#snack5 {
    background-color: lightgray;
}